@page
@model XMLProject.Pages.OurTeamPageModel
@{
    ViewData["Title"] = "OurTeampage";
}

<h3 class="text-lg-center"><strong>Our Team</strong></h3>

<div class="container-fluid">

    <div class="row">
        <div class="col-2">
            <img src="~/img/Nikit.png" class="rounded-circle" style="height:220px;width:180px; margin-left:-15px;" />
        </div>

        <div class="col-10">
            <h4>Nikit Choksi</h4>
            <h4>Chief Executive Officer</h4>
            <p>
                <blockquote class="text-muted"></blockquote>Nikit Choksi works as Fire Chief in Fire Chief's Office.
                Contact Nikit Choksi at Fire Chief's Office with questions about major changes within the department or significant emergency incidents, budget, expenditures, contract services, requests for general information and employment verification.
            </p>
            <h4 class="text-lg-center">Fire Chief Nikit Choksi - 352-6242</h4>
            <h4 class="text-lg-center">Fax - 352-1548</h4>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-2">
            <img src="/img/Shruthi.png" class="rounded-circle" style="height:220px;width:180px; margin-left:-15px;" />
        </div>

        <div class="col-10">
            <h4>Shruthi Ramesh</h4>
            <h4>Chief Financial Officer</h4>
            <p><blockquote class="text-muted"></blockquote>Shruthi Ramesh works as Chief Financial Officer in Finance Division. Contact the Finance Division Office with questions regarding funding and management of the day-to-day activities like Budget, Payroll, Accounts Receivable/Payable and EMS Billing which are necessary to meet financial obligations.</p>
            <h4 class="text-lg-center">Chief Financial Officer Shruthi Ramesh - 352-6224</h4>
            <h4 class="text-lg-center">Budget, Payroll, Accounts Receivable/Payable - 352-5212</h4>
            <h4 class="text-lg-center">EMS Billing - 352-4895</h4>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-2">
            <img src="/img/Shreeya.jpeg" class="rounded-circle" style="height:220px;width:180px; margin-left:-15px;" />
        </div>

        <div class="col-10">
            <h4>Shreeya Idagungi</h4>
            <h4>Assistant Chief</h4>
            <p><blockquote class="text-muted"></blockquote>Shreeya Idagungi works as Chief Financial Officer in Fire Prevention Division. Contact Shreeya Idagungi at Fire Prevention Division with questions concerning requests to interpret the Fire Code and or make revisions to the Fire Code. The Fire Prevention Bureau also handles life safety inspections, Fire Code inspections for special occupancies, Fire Code Board of Appeals, coordinated reports, fire reports, Fire Code enforcement, fire prevention, dance hall licenses, housing court, special inspections, fire investigations and the Juvenile Firesetter program.</p>
            <h4 class="text-lg-center">Assistant Chief Shreeya Idagungi - 357-7500</h4>
            <h4 class="text-lg-center">Fire Prevention - 357-7585</h4>
            <h4 class="text-lg-center">Fire Investigation - 352-1685</h4>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-2">
            <img src="/img/ayushi_img.jpg" class="rounded-circle" style="height:220px;width:180px; margin-left:-15px;" />
        </div>

        <div class="col-10">
            <h4>Ayushi</h4>
            <h4>Assistant Chief</h4>
            <p>
                <blockquote class="text-muted"></blockquote>Ayushi works as Chief Financial Officer in Fire Prevention Division.
                Contact Ayushi at Operations Division with questions about Fire Company Operations and Service Levels, Fire Department "Safe House" availability, firefighter, demonstrations and home fire prevention inspections.
            </p>
            <h4 class="text-lg-center">Assistant Chief Ayushi - 352-2361</h4>
            <h4 class="text-lg-center">Emergency Medical Services - 357-7511</h4>
            <h4 class="text-lg-center">Fire Suppression - 564-1743</h4>
        </div>
    </div>
    <br />

</div>
<br />

<h3 class="text-lg-center"><strong>Contact US</strong></h3>
<br>

<h4><strong>Mailing Address</strong></h4>

<table>

    <thead>
        <tr>
            <th>Subject</th>
            <th>Address</th>
            <th>Notes</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>General Correspondence, City Hall	</td>
            <td>801 Plum St., Cincinnati, OH 45202</td>
            <td>City Hall is open 8 a.m. to 5 p.m., Monday through Friday. All written correspondence must be addressed to a specific individual or Department; mail directed simply to "City of Cincinnati" will be returned to sender.</td>
        </tr>

        <tr>
            <td>Bids, Contracts</td>
            <td>805 Central Ave., Suite 234, Cincinnati, OH 45202</td>
            <td>Open 7:30 a.m. to 4 p.m., Monday through Friday.</td>
        </tr>

        <tr>
            <td>Police Correspondence</td>
            <td>310 Ezzard Charles Drive, Cincinnati, OH 45214</td>
            <td>Any police correspondence should be sent to this address. Note: The Police Records section is located in City Hall, listed above.</td>
        </tr>
    </tbody>

</table>

<br>

<h4><strong>Telephone & Email</strong></h4>

<table>

    <thead>
        <tr>
            <th>Department/Office</th>
            <th>Telephone Number</th>
            <th>E-mail Address</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Nikit Choksi</td>
            <td>513-352-3250</td>
            <td>nikit.choksi@cincy-oh.gov</td>
        </tr>

        <tr>
            <td>Shruthi Ramesh</td>
            <td>513-352-3251</td>
            <td>shruthi.ramesh@cincy-oh.gov</td>

        <tr>
            <td>Shreeya Idagunji</td>
            <td>513-352-3252</td>
            <td>shreeya.idagunji@cincy-oh.gov</td>
        </tr>

        <tr>
            <td>Ayushi</td>
            <td>513-352-3253</td>
            <td>ayushi.yadav@cincy-oh.gov</td>
        </tr>
    </tbody>

</table>

<div class="container-fluid"></div>
<div class="row" style="padding-right:30px"></div>
<div class="col-12" style="color:black;text-align:center"><h3 class="text-uppercase"><u><a href="https://www.facebook.com/">Facebook</a></u></h3></div>
<div class="container-fluid"></div>
<div class="row" style="padding-right:30px"></div>
<div class="col-12" style="color:black;text-align:center"><h3 class="text-uppercase"><u><a href="https://www.instagram.com/">Instagram</a></u></h3></div>
<div class="container-fluid"></div>
<div class="row" style="padding-right:30px"></div>
<div class="col-12" style="color:black;text-align:center"><h3 class="text-uppercase"><u><a href="https://twitter.com/">Twitter</a></u></h3></div>